.footer{
    background-color: rgb(56, 119, 227);
    color: whitesmoke;
    padding: 10px;
}
.contactlink{
    color: whitesmoke;
    text-decoration: none;
}
.contactlink:hover{
    color: whitesmoke;
    text-decoration: none;
}
.navbarlink{
    color: whitesmoke;
    text-decoration: none;
}
.navbarlink:hover{
    color: whitesmoke;
    text-decoration: none;
}

.navbarcol:hover{
    background-color: blue;
}

.formlogin{
    width: 40%;
    background-color: rgb(56, 119, 227);
    padding: 10px;
    margin:170px auto auto auto;
    border-radius: 8px;
}

.registerlogin{
    width: 40%;
    background-color: rgb(56, 119, 227);
    padding: 10px;
    margin:130px auto auto auto;
    border-radius: 8px;
}

.formtitle{
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

.forminput{
    width: 100%;
}

.registerp{
    width:100%;
    text-align: center;
}

#login{
    width: 100%;
}

.message{
    position: sticky;
    top:0;
    margin:0 auto;
    max-width: 1200px;
    background-color: white;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap:1.5rem;
 }
 
 .message span{
    font-size: 2rem;
    color:black;
 }
 
 .message i{
    cursor: pointer;
    color:red;
    font-size: 2.5rem;
 }
 
 .message i:hover{
    transform: rotate(90deg);
 }
 