.footer{
    background-color: rgb(56, 119, 227);
    color: whitesmoke;
    padding: 10px;
}
.contactlink{
    color: whitesmoke;
    text-decoration: none;
}
.contactlink:hover{
    color: whitesmoke;
    text-decoration: none;
}
.navbarlink{
    color: whitesmoke;
    text-decoration: none;
}
.navbarlink:hover{
    color: whitesmoke;
    text-decoration: none;
}
.navbarcol:hover{
    background-color: blue;
}